<h2><%= @sub.title %></h2>

<ol>
<% @sub.posts.each do |post| %>
  <article class="voteable-data">
    <li><a href="/subs/<%= @sub.id %>/posts/<%= post.id %>"><%= post.title %></a></li>
    <p class="karma">Karma: <%= post.karma %></p>
    <form action="/posts/<%= post.id %>/votes" method="POST">
      <button class="vote-button upvote-button" type="submit" name="upvote" value="true">/\</button>
      <button class="vote-button" type="submit" name="upvote" value="false">\/</button>
    </form>
  </article>
<% end %>
</ol>
<br>

<% if current_user == @sub.moderator %>
  <a href="/subs/<%= @sub.id %>/edit">Edit this Sub</a>
<% end %>
<br>

<% if logged_in? %>
  <a href="/subs/<%= @sub.id %>/posts/new">Create a new Post</a>
<% end %>
