<h2><%= @sub.title %></h2>

<% @sub.posts.each do |post| %>
  <a href="/subs/<%= @sub.id %>/posts/<%= post.id %>"><%= post.title %></a>
<% end %>

<br>

<% if current_user == @sub.moderator %>
  <a href="/subs/<%= @sub.id %>/edit">Edit this Sub</a>
<% end %>
<br>

<% if logged_in? %>
  <a href="/subs/<%= @sub.id %>/posts/new">Create a new Post</a>
<% end %>
