<div class="voteable-data">
<h2><%= @post.title %></h2>
<p class="karma">Karma: <%= @post.karma %></p>
 <form  action="/posts/<%= @post.id %>/votes" method="POST">
      <button class="vote-button upvote-button" type="submit" name="upvote" value="true">/\</button>
      <button class="vote-button" type="submit" name="" value="false">\/</button>
</form>
</div>


  <a href="<%= @post.shortened_url.short_url %>"><%= @post.shortened_url.short_url %></a>
<p><%= @post.content %></p>


<h3>Post a comment</h3>
<%= erb :'/comments/_comment_form' %>

<h3>Comments</h3>

<% @post.comments.each do |comment| %>
  <article class='voteable-data'>
    <%= comment.content %>
    <p class="karma">Karma: <%= comment.karma %></p>
    <form action="/comments/<%= comment.id %>/votes" method="POST">
      <button style="background-color: #E97837;" class="vote-button upvote-button" type="submit" name="upvote" value="true">/\</button>
      <button class="vote-button" type="submit" name="upvote" value="false">\/</button>
    </form>

  </article>
<% end %>


<br>
<% if @post.author == current_user %>
  <a href="<%= @post.id %>/edit">Edit this post</a>
<% end %>
<br>

<a href="/subs/<%= @post.sub.id %>">Back to <%= @post.sub.title %></a>

